<nav class="navbar navbar-full navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]=" ['Home'] "><img src="assets/img/dailydownbeat_icon.svg"></a>
    <div>
      <ul class="nav navbar-nav hidden-sm-down">
        <li class="nav-item" router-active>
          <a class="nav-link" [routerLink]=" ['Home'] "><i class="fa fa-home"></i> Home</a>
        </li>
        <li class="nav-item" *ngIf="!_authService.currentUser" router-active>
          <a class="nav-link" [routerLink]=" ['Login'] "><i class="fa fa-sign-in"></i> Login</a>
        </li>
        <li class="nav-item" *ngIf="!_authService.currentUser" router-active>
          <a class="nav-link" [routerLink]=" ['Signup'] "><i class="fa fa-user-plus"></i> Sign Up</a>
        </li>
        <li class="nav-item" *ngIf="_authService.currentUser">
          <a class="nav-link" (click)="logout()"><i class="fa fa-sign-out"></i> Log Out</a>
        </li>
      </ul>
    </div>
    <div class="pull-xs-right hidden-md-up">
      <button class="btn btn-primary navbar-toggler" type="button" (click)="toggleCollapse()" [class.collapsed]="isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <button class="btn btn-primary-outline" *ngIf="_authService.currentUser" type="button" [(ngModel)]="_authService.adminMode" btnCheckbox><i class="fa fa-key"></i></button>
    </div>
    <div class="pull-xs-right hidden-sm-down">
      <ul class="nav navbar-nav hidden-sm-down">
        <li class="nav-item">
          <div class="hidden-md-down">
            <button class="btn btn-success" (click)="addPost()"><i class="fa fa-pencil"></i> Add Post</button>
          </div>
          <div class="hidden-lg-up">
            <button class="btn btn-success" (click)="addPost()"><i class="fa fa-pencil"></i></button>
          </div>
        </li>
        <li class="nav-item">
          <div dropdown (on-toggle)="toggled($event)" *ngIf="_authService.currentUser">
            <ul class="nav navbar-nav">
              <a href id="account-dropdown" class="nav-link" dropdownToggle><i class="fa fa-user"></i> {{_authService.currentUser.username}}</a>
            </ul>
            <ul class="dropdown-menu" aria-labelledby="account-dropdown">
              <li>
                <a class="dropdown-item" [routerLink]="['UserDetail', {id: _authService.currentUser.id}]"><i class="fa fa-user fa-fw"></i> Profile</a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['Dashboard', {id: _authService.currentUser.id}]"><i class="fa fa-cogs fa-fw"></i> Account</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <button class="btn btn-primary-outline" *ngIf="_authService.currentUser" type="button" [(ngModel)]="_authService.adminMode" btnCheckbox><i class="fa fa-key"></i></button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="fs-menu hidden-md-up" [class.collapsed]="!isCollapsed">
  <div>
    <div>
      <ul class="hidden-md-up">
        <li class="nav-item" (click)="collapse()" router-active>
          <a class="nav-link" [routerLink]=" ['Home'] "><i class="fa fa-home fa-fw"></i> Home</a>
        </li>
        <li class="nav-item" *ngIf="!_authService.currentUser" (click)="collapse()" router-active>
          <a class="nav-link" [routerLink]=" ['Login'] "><i class="fa fa-sign-in fa-fw"></i>Login</a>
        </li>
        <li class="nav-item" *ngIf="!_authService.currentUser" (click)="collapse()" router-active>
          <a class="nav-link" [routerLink]=" ['Signup'] "><i class="fa fa-user-plus fa-fw"></i> Sign Up</a>
        </li>
        <li class="nav-item" *ngIf="_authService.currentUser" (click)="collapse()">
          <a class="nav-link" (click)="logout()"><i class="fa fa-sign-out fa-fw"></i> Log Out</a>
        </li>
        <li class="nav-item" *ngIf="_authService.currentUser" (click)="collapse()" router-active>
          <a class="nav-link" (click)="addPost()"><i class="fa fa-pencil fa-fw"></i> Add Post</a>
        </li>
      </ul>
    </div>
  </div>
</div>
