<div class="row">
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
    <h1 class="text-xs-center">Login</h1>
    <fieldset class="form-group" [class.has-success]="loginForm.find('email').valid && loginForm.find('email').touched" [class.has-danger]="!loginForm.find('email').valid && loginForm.find('email').touched">
      <label for="emailInput" class="form-control-label">Email</label>
      <input type="text" id="emailInput" placeholder="Email Address" [formControl]="loginForm.controls['email']" class="form-control" [class.form-control-success]="loginForm.find('email').valid" [class.form-control-danger]="!loginForm.find('email').valid" required validateEmail>
      <div *ngIf="loginForm.find('email').touched" class="text-help">
        <div *ngIf="loginForm.find('email').hasError('invalidEmail')">Invalid Email</div>
        <div *ngIf="loginForm.find('email').hasError('required')">Email Required</div>
      </div>
    </fieldset>
    <fieldset class="form-group" [class.has-success]="loginForm.find('password').valid && loginForm.find('password').touched" [class.has-danger]="!loginForm.find('password').valid && loginForm.find('password').touched">
      <label for="passwordInput" class="form-control-label">Password</label>
      <input type="password" id="passwordInput" placeholder="Password" [formControl]="loginForm.controls['password']" class="form-control" [class.form-control-success]="loginForm.find('password').valid" [class.form-control-danger]="!loginForm.find('password').valid" required>
      <div *ngIf="loginForm.find('password').touched" class="text-help">
        <div *ngIf="loginForm.find('password').hasError('required')" class="text-help">Password Required</div>
      </div>
    </fieldset>
    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-block btn-primary">Login</button>
  </form>
</div>
