/*
 * Application-Wide Styles
 */
@import "./global-variables";

* {
  font-family: 'Open Sans', sans-serif;
}

html {
  //-webkit-font-smoothing: antialiased;
  //-webkit-backface-visibility: hidden;
}

#content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a:hover {
  cursor: pointer;
}

textarea {
  max-height: 500px;
}

ul {
  list-style-type: none;
}

.hostname {
  color: #808080;
  font-size: 0.8rem;
}

.fa-arrow-circle-right {
  color: #5cb85c;
}

.dropdown-toggle {
  &:after {
    content: none;
    border: none;
  }
}

main {
  margin-top: 60px;
  //min-height: 100vh;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  flex: 1;
  padding: 0em;
  display: flex;
  flex-direction: column;

}

main.container {
  padding: 1em;
}

.ng-valid.ng-touched {
  //border: 1px dashed green;
}

.ng-invalid.ng-touched {
  //border: 1px dashed red;
}
//@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
//only screen and ( min-device-pixel-ratio: 1.25),
//only screen and ( min-resolution: 200dpi),
//only screen and ( min-resolution: 1.25dppx) {
//  -webkit-font-smoothing: subpixel-antialiased;
//}
