<div class="row">
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 post" *ngIf="post">
    <h6 class="text-xs-center">
      <a href="{{post.url}}">{{post.title}}</a>
    </h6>
    <div class="text-xs-center info">
      <small>posted by <a class="text-xs-center" [routerLink]="['UserDetail', {id: post.user.id}]">{{post.user.username}}</a></small>
      <span dropdown (on-toggle)="toggled($event)" class="pull-xs-right" *ngIf="_authService.currentUser">
        <a href id="options-dropdown" class="btn btn-secondary btn-sm" dropdownToggle>
          <i class="fa fa-chevron-down fa-fw"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="edit-dropdown">
          <li>
            <a class="dropdown-item"><i class="fa fa-flag fa-fw"></i> Flag</a>
          </li>
          <template [ngIf]="_authService.adminMode || _authService.isSelf(post.user.id)">
            <div class="dropdown-divider"></div>
            <li>
              <a class="dropdown-item"><i class="fa fa-pencil fa-fw"></i> Edit</a>
            </li>
            <li>
              <a class="dropdown-item"><i class="fa fa-trash fa-fw"></i> Delete</a>
            </li>
          </template>
        </ul>
      </span>
    </div>
    <ul class="comments">
      <h5 class="text-xs-center">Comments</h5>
      <div class="add-comment text-xs-center">
        <a type="button" class="btn btn-success-outline btn-sm" [class.active]="!isCollapsed" (click)="isCollapsed = !isCollapsed"><i class="fa fa-plus fa-fw"></i> Add Comment</a>
      </div>
      <div [collapse]="isCollapsed">
        <div class="well well-lg">
          <form class="text-xs-right" [ngFormModel]="commentForm" (ngSubmit)="comment(commentForm.value)">
            <fieldset class="form-group">
              <textarea class="form-control" [ngFormControl]="commentForm.controls['comment']"></textarea>
            </fieldset>
            <button class="btn btn-primary" type="submit" [disabled]="!commentForm.valid">Comment</button>
          </form>
        </div>
      </div>
      <li *ngFor="#comment of comments">
        <!--p>{{comment.body}}</p>
        <div>
          <a [routerLink]="['UserDetail', {id: comment.user.id}]">{{comment.user.username}}</a>
          {{comment.comment_count}}
          <span dropdown (on-toggle)="toggled($event)" class="text-xs-right" *ngIf="_authService.currentUser">
            <a href id="options-dropdown" class="btn btn-secondary btn-sm" dropdownToggle>
              <i class="fa fa-chevron-down fa-fw"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="edit-dropdown">
              <li>
                <a class="dropdown-item"><i class="fa fa-flag fa-fw"></i> Flag</a>
              </li>
              <template [ngIf]="_authService.adminMode || _authService.isSelf(comment.user.id)">
                <div class="dropdown-divider"></div>
                <li>
                  <a class="dropdown-item"><i class="fa fa-pencil fa-fw"></i> Edit</a>
                </li>
                <li>
                  <a class="dropdown-item"><i class="fa fa-trash fa-fw"></i> Delete</a>
                </li>
              </template>
            </ul>
          </span>
          <div *ngFor="#c of comment.comments">
            {{c}}
          </div>
        </div-->
        <comment [comment]="comment"></comment>
      </li>
    </ul>
  </div>
</div>
