.post {
  .info {
    margin-bottom: 24px;
  }
  .comments {
    padding-left: 0px;
    li {
      list-style: none;
    }
    .add-comment {
      padding-bottom: 16px;
    }
  }
  .dropdown-toggle {
    //margin-bottom: 16px;
    &:after {
      content: none;
      border: none;
    }
  }
}
