<div class="row">
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 post" *ngIf="post">
    <h6 class="text-xs-center">
      <a href="{{post.url}}">{{post.title}}</a>
    </h6>
    <div class="text-xs-center info">
      <small>posted by <a class="text-xs-center" [routerLink]="['UserDetail', {id: post.user.id}]">{{post.user.username}}</a></small>
      <span dropdown keyboardNav="true" (on-toggle)="toggled($event)" class="pull-xs-right" *ngIf="_authService.currentUser">
        <a href id="options-dropdown" class="btn btn-secondary btn-sm" dropdownToggle>
          <i class="fa fa-chevron-down fa-fw"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="edit-dropdown">
          <li>
            <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-flag fa-fw"></i> Flag</a>
          </li>
          <template [ngIf]="_authService.adminMode || _authService.isSelf(post.user.id)">
            <div class="dropdown-divider" href="javascript:void(0)"></div>
            <li>
              <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-pencil fa-fw"></i> Edit</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-trash fa-fw"></i> Delete</a>
            </li>
          </template>
        </ul>
      </span>
    </div>
    <ul class="comments">
      <h5 class="text-xs-center">Comments</h5>
      <div class="add-comment text-xs-center">
        <a type="button" class="btn btn-success-outline btn-sm" [class.active]="!isCollapsed" (click)="isCollapsed = !isCollapsed"><i class="fa fa-plus fa-fw"></i> Add Comment</a>
      </div>
      <div [collapse]="isCollapsed">
        <div class="well well-lg">
          <form class="text-xs-right" [ngFormModel]="commentForm" (ngSubmit)="addComment(commentForm.controls['comment'].value, 'Post', post.id, 1)">
            <fieldset class="form-group">
              <textarea class="form-control" [ngFormControl]="commentForm.controls['comment']"></textarea>
            </fieldset>
            <button class="btn btn-secondary" (click)="isCollapsed = !isCollapsed">Cancel</button>
            <button class="btn btn-primary" type="submit" [disabled]="!commentForm.valid">Comment</button>
          </form>
        </div>
      </div>
      <div class="text-xs-center" *ngIf="loadingPosts"><i class="fa fa-circle-o-notch fa-spin"></i></div>
      <li *ngFor="#comment of comments | orderBy: ['-points', '-created_at']">
        <comment [comment]="comment" [replyOpen]="_commentService.replyOpen" (deleteEvent)="removeComment(comment.id)"></comment>
      </li>
    </ul>
  </div>
</div>
