<div class="row">
  <div class="posts col-xs-12 col-xs-offset-0 col-lg-8 col-lg-offset-2" [ngSwitch]="serverDown">
    <div *ngSwitchDefault>
      <div class="text-xs-center">
        <div class="btn-group" role="group" aria-label="Set">
          <a type="button" class="btn btn-link btn-xs" (click)="setContentSelect('all')" [class.active]="currentKind === 'all'">All</a>
          <a type="button" class="btn btn-link btn-xs" (click)="setContentSelect('post')" [class.active]="currentKind === 'post'">News</a>
          <a type="button" class="btn btn-link btn-xs" (click)="setContentSelect('show')" [class.active]="currentKind === 'show'">Show DD</a>
          <a type="button" class="btn btn-link btn-xs" (click)="setContentSelect('ask')" [class.active]="currentKind === 'ask'">Ask DD</a>
          <a type="button" class="btn btn-link btn-xs" (click)="setContentSelect('job')" [class.active]="currentKind === 'job'">Jobs</a>
        </div>
      </div>
      <div class="post card" *ngFor="let post of posts; let i = index">
        <div class="vote-block">
          <a *ngIf="!_authService.isSelf(post.user.id)" (click)="vote(1)"><i class="fa fa-angle-up fa-fw fa-lg"></i></a>
          <a href="#" *ngIf="!_authService.isSelf(post.user.id) && (_authService.currentUser && _authService.currentUser.points > 49)" (click)="vote(-1)"><i class="fa fa-angle-down fa-fw fa-lg"></i></a>
        </div>
        <div class="info-block">
          <p *ngIf="post.url"><a href="{{post.url}}" target="_blank" class="title">{{post.title}}</a></p>
          <p *ngIf="!post.url"><a [routerLink]=" ['./post', post.id] ">{{post.title}}</a></p>
          <span>
            <small>
              {{post.points}} points by
              <a [routerLink]=" ['./user', post.user.id ] ">{{post.user.username}}</a>
              {{post.created_at | timeSince}} |
              <a [routerLink]=" ['./post', post.id ] ">
                <pluralize [count]="post.comment_count" [when]="{'one': '1 comment', 'other': '{} comments'}"></pluralize>
              </a>
              <span dropdown keyboardNav="true" (on-toggle)="toggled($event)" class="pull-xs-right">
                <a href id="simple-btn-keyboard-nav" class="btn btn-secondary-outline btn-sm" dropdownToggle>
                  <i class="fa fa-chevron-down fa-fw"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                  <li role="menuitem">
                    <a class="dropdown-item" href="javascript:void(0)" [routerLink]=" ['PostDetail', {id: post.id} ]"><i class="fa fa-comment fa-fw"></i> Comment</a>
                  </li>
                  <li role="menuitem">
                    <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target=".modal" (click)="openFlagModal(post.title, post.user.username)"><i class="fa fa-flag fa-fw"></i> Flag</a>
                  </li>
                  <template [ngIf]="_authService.adminMode || _authService.isSelf(post.user.id)">
                    <div class="dropdown-divider"></div>
                    <li role="menuitem">
                      <a class="dropdown-item" href="javascript:void(0)" (click)="openDeleteModal(post.title, post.user.username)"><i class="fa fa-trash fa-fw"></i> Delete</a>
                    </li>
                  </template>
                </ul>
              </span>
            </small>
          </span>
        </div>
      </div>
      <div>
        <div class="text-xs-center" *ngIf="loadingPosts"><i class="fa fa-circle-o-notch fa-spin"></i></div>
        <!--pager [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="getPosts($event.page, perPage, currentKind)" [itemsPerPage]="perPage" [align]="true" [disabled]="loadingPosts"></pager-->
      </div>
    </div>
    <div *ngSwitchCase="true">
      <div class="card card-block">
        <p>The server is momentarily at intermission. Bookmark <i>DailyDownbeat</i> and come back later!</p>
      </div>
    </div>
  </div>
  <div class="cta col-xs-12 col-xs-offset-0 col-lg-2 hidden-md-down">
    <div class="card card-block affix">
      <progress class="progress progress-warning" value="25" max="100">
        <div class="progress progress-warning">
          <span class="progress-bar" style="width: 25%;">25%</span>
        </div>
      </progress>
      <h6 class="card-subtitle text-muted">25% Funded</h6>
      <p class="card-text">Keep the Daily Downbeat servers alive!</p>
      <a class="btn btn-block btn-primary" [routerLink]="[ './donate' ]">Donate</a>
    </div>
  </div>
</div>
