.posts {
  .vote {
    width: 20px;
  }
  .arrow-up {
    position: relative;
    width: 0;
  	height: 10;
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
  	border-bottom: 14px solid black;

    &:before {
      content: "";
      position: absolute;
      top: 4px;
      left: -11px;
      width: 0;
    	height: 0;
    	border-left: 10px solid transparent;
  	  border-right: 10px solid transparent;
    	border-bottom: 14px solid #fff;
    }
  }
  .post {
    a.title {
      font-size: 0.8rem;
    }
    &:hover {
      //background-color: #dadbdf;
      //border-radius: 5px;
    }
  }
}
