.posts {
  .post {
    display: flex;
    &:hover {
      background-color: lighten(gray, 30%);
    }
    .vote-block {
      width: 27px;
    }
    .info-block {
      flex-grow: 1;
      p {
        font-size: 0.9rem;
        margin-bottom: 0rem;
      }
    }
  }
}
