<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
    <h1 class="text-xs-center">Add a Post</h1>
    <form [formGroup]="addPostForm" (ngSubmit)="addPost()">
      <fieldset class="form-group text-xs-center">
        <div>
          <label class="form-control-label">Type of Post:</label>
        </div>
        <div class="btn-group">
          <label class="btn btn-success" [class.active]="type === 'Post'" (click)="setType('Post')">Post</label>
          <label class="btn btn-success" [class.active]="type === 'Show DD'" (click)="setType('Show DD')">Show</label>
          <label class="btn btn-success" [class.active]="type === 'Ask DD'" (click)="setType('Ask DD')">Ask</label>
          <label class="btn btn-success" [class.active]="type === 'Job'" (click)="setType('Job')">Job</label>
        </div>
        <p class="card card-block" *ngIf="type === 'Post'">Regular posts are for sharing links with the Daily Downbeat community.</p>
        <p class="card card-block" *ngIf="type === 'Show DD'">Show posts are for promoting and sharing content (e.g. compositions, performances) with the Daily Downbeat community.</p>
        <p class="card card-block" *ngIf="type === 'Ask DD'">Ask posts are for questions you would like to propose directly to the Daily Downbeat community.</p>
        <p class="card card-block" *ngIf="type === 'Job'">Job posts are for sharing employment postings with the Daily Downbeat community.</p>
      </fieldset>
      <fieldset class="form-group" [class.has-success]="title.valid && title.touched" [class.has-danger]="!title.valid && title.touched">
        <label for="titleInput" class="form-control-label">Title</label>
        <input type="text" id="titleInput" placeholder="Title" *ngIf="type === 'Post'" [formControl]="addPostForm.find('title')" class="form-control" [class.form-control-success]="title.valid" [class.form-control-danger]="!title.valid" required>
        <div class="input-group" *ngIf="type !== 'Post'">
          <div class="input-group-addon" id="prefix">{{type}}:</div>
          <input type="text" id="titleInput" placeholder="Title" [formControl]="addPostForm.find('title')" class="form-control" [class.form-control-success]="title.valid" [class.form-control-danger]="!title.valid" required>
        </div>
        <div *ngIf="title.touched">
          <div *ngIf="title.hasError('required')" class="text-help">Title Required</div>
        </div>
      </fieldset>
      <fieldset class="form-group" [class.has-success]="url.valid && url.touched" [class.has-danger]="!url.valid && url.touched">
        <label for="urlInput" class="form-control-label">Link</label>
        <input type="url" id="urlInput" placeholder="Link" [formControl]="addPostForm.find('url')" class="form-control" [class.form-control-success]="url.valid" [class.form-control-danger]="!url.valid" validateUrl required>
        <div *ngIf="url.touched" class="text-help">
          <div *ngIf="url.hasError('required')">Link Required</div>
          <div *ngIf="url.hasError('invalidUrl')">Link Invalid</div>
          <div *ngIf="url.value.slice(0, 4) !== 'http'"><i>(Valid links begin with 'http://' or 'https://')</i></div>
        </div>
      </fieldset>
      <fieldset class="form-group" *ngIf="type !== 'Post'" [class.has-success]="body.valid && body.touched" [class.has-danger]="!body.valid && body.touched">
        <label for="bodyInput" class="form-control-label">{{bodyLabel}} <small>(<i>Optional</i>)</small></label>
        <textarea id="bodyInput" [placeholder]="bodyLabel" [formControl]="addPostForm.find('body')" class="form-control" [class.form-control-success]="body.valid" [class.form-control-danger]="!body.valid" maxlength="8000">
        </textarea>
        <div *ngIf="body.touched" class="text-help">
          <div *ngIf="body.hasError('maxlength')">8000 Character Maximum</div>
        </div>
      </fieldset>
      <button type="submit" [disabled]="!addPostForm.valid" class="btn btn-block btn-primary">
        Add Post <i *ngIf="processing" class="fa fa-circle-o-notch fa-spin"></i>
      </button>
    </form>
  </div>
</div>
