<div *ngIf="_modalService.showModal">
  <div class="modal fade in" role="dialog" aria-labelledby="modal" aria-hidden="true" style="display: block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="_modalService.closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" *ngIf="_modalService.modal.title">{{_modalService.modal.title}}</h4>
        </div>
        <div class="modal-body">
          <p [innerHtml]="_modalService.modal.body"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_modalService.closeModal()">Close</button>
          <button type="button" class="btn btn-primary">{{_modalService.modal.confirmText}}</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div class="modal-backdrop in" (click)="_modalService.closeModal()"></div>
</div>
