<div *ngIf="user" class="col-xs-12 col-xs-offset-0 col-lg-8 col-lg-offset-2">
  <h1 class="text-xs-center">{{user.username}}</h1>
  <h3 class="text-xs-center">Manage Account</h3>
  <tabset>
    <tab heading="Activity" (select)="removeEditStatus()">
      <div class="text-xs-center">
        <div class="btn-group text-xs-center">
          <label class="btn btn-primary btn-sm" [(ngModel)]="activitySelect" btnRadio="All">All</label>
          <label class="btn btn-primary btn-sm" [(ngModel)]="activitySelect" btnRadio="Posts">Posts</label>
          <label class="btn btn-primary btn-sm" [(ngModel)]="activitySelect" btnRadio="Comments">Comments</label>
          <label class="btn btn-primary btn-sm" [(ngModel)]="activitySelect" btnRadio="Votes">Votes</label>
        </div>
      </div>
      <ul *ngIf="activitySelect === 'All'">
        <li *ngFor="#post of posts">
          <div class="card card-block">{{post.title}}</div>
        </li>
      </ul>
      <ul *ngIf="activitySelect === 'Posts'">
        <li *ngFor="#post of posts">
          <div class="card card-block">{{post.title}}</div>
        </li>
      </ul>
      <ul *ngIf="activitySelect === 'Comments'">
        <li *ngFor="#comment of comments">
          <div class="card card-block">
            {{comment.body}}
          </div>
        </li>
      </ul>
      <ul *ngIf="activitySelect === 'Votes'">
        <li *ngFor="#post of posts">
          <div class="card card-block">{{post.title}}</div>
        </li>
      </ul>
    </tab>
    <tab heading="Account Details" (select)="removeEditStatus()">
      <div class="card card-block text-xs-center">
        <div *ngIf="editing !== 'email'">
          <h5>Email:</h5>
          <p>{{user.email}}</p>
          <button class="btn btn-success" (click)="editing = 'email'">Change Email</button>
        </div>
        <div *ngIf="editing === 'email'">
          <h5>Update Email</h5>
          <form [ngFormModel]="emailForm" (ngSubmit)="updateEmail()">
            <fieldset class="form-group" [class.has-success]="newEmail.valid && newEmail.touched" [class.has-danger]="!newEmail.valid && newEmail.touched">
              <label for="newEmailInput" class="form-control-label">New Email</label>
              <input type="text" id="newEmailInput" placeholder="New Email" [ngFormControl]="emailForm.controls['newEmail']" class="form-control" [class.form-control-success]="newEmail.valid" [class.form-control-danger]="!newEmail.valid">
              <div *ngIf="newEmail.touched">
                <div *ngIf="newEmail.hasError('required')" class="text-help">New email required</div>
                <div *ngIf="newEmail.hasError('invalidEmail')" class="text-help">Invalid email</div>
              </div>
            </fieldset>
            <fieldset class="form-group" [class.has-success]="newEmailConfirm.valid && newEmailConfirm.touched" [class.has-danger]="!newEmailConfirm.valid && newEmailConfirm.touched">
              <label for="newEmailConfirm" class="form-control-label">New Email Confirmation</label>
              <input type="text" id="newEmailConfirm" placeholder="New Email Confirmation" [ngFormControl]="emailForm.controls['newEmailConfirm']" class="form-control" [class.form-control-success]="newEmailConfirm.valid" [class.form-control-danger]="!newEmailConfirm.valid">
              <div *ngIf="newEmailConfirm.touched">
                <div *ngIf="newEmailConfirm.hasError('required')" class="text-help">Confirmation required</div>
                <div *ngIf="newEmailConfirm.hasError('notEquivalent')" class="text-help">Confirmation does not match</div>
              </div>
            </fieldset>
            <fieldset class="form-group" [class.has-success]="newEmailPassword.valid && newEmailPassword.touched" [class.has-danger]="!newEmailPassword.valid && newEmailPassword.touched">
              <label for="newEmailPassword" class="form-control-label">Password</label>
              <input type="password" id="newEmailPassword" placeholder="Confirm Password" [ngFormControl]="emailForm.controls['newEmailPassword']" class="form-control" [class.form-control-success]="newEmailPassword.valid" [class.form-control-danger]="!newEmailPassword.valid">
              <div *ngIf="newEmailPassword.touched">
                <div *ngIf="newEmailPassword.hasError('required')" class="text-help">Password Required</div>
              </div>
            </fieldset>
            <button type="submit" [disabled]="!emailForm.valid" class="btn btn-primary">Update Email</button>
            <button type="reset" class="btn btn-secondary" (click)="removeEditStatus()">Cancel</button>
          </form>
        </div>
      </div>
      <div class="card card-block text-xs-center">
        <div *ngIf="editing !== 'password'">
          <h5>Password:</h5>
          <button class="btn btn-success" (click)="editing = 'password'">Change Password</button>
        </div>
        <div *ngIf="editing === 'password'">
          <!-- TODO: reset form values and set pristine on 'editing' change! -->
          <h5>Update Password</h5>
          <form [ngFormModel]="passwordForm" (ngSubmit)="updatePassword()">
            <fieldset class="form-group" [class.has-success]="oldPassword.valid && oldPassword.touched" [class.has-danger]="!oldPassword.valid && oldPassword.touched">
              <label for="oldPasswordInput" class="form-control-label">Old Password</label>
              <input type="password" id="oldPasswordInput" placeholder="Old Password" [ngFormControl]="passwordForm.controls['oldPassword']" class="form-control" [class.form-control-success]="oldPassword.valid" [class.form-control-danger]="!oldPassword.valid">
              <div *ngIf="oldPassword.touched">
                <div *ngIf="oldPassword.hasError('required')" class="text-help">Old password required</div>
              </div>
            </fieldset>
            <fieldset class="form-group" [class.has-success]="newPassword.valid && newPassword.touched" [class.has-danger]="!newPassword.valid && newPassword.touched">
              <label for="newPasswordInput" class="form-control-label">New Password</label>
              <input type="password" id="newPasswordInput" placeholder="New Password" [ngFormControl]="passwordForm.controls['newPassword']" class="form-control" [class.form-control-success]="newPassword.valid" [class.form-control-danger]="!newPassword.valid">
              <div *ngIf="newPassword.touched">
                <div *ngIf="newPassword.hasError('required')" class="text-help">New password required</div>
                <div *ngIf="newPassword.hasError('minlength')" class="text-help">Must be at least 8 characters</div>
              </div>
            </fieldset>
            <fieldset class="form-group" [class.has-success]="newPasswordConfirm.valid && newPasswordConfirm.touched" [class.has-danger]="!newPasswordConfirm.valid && newPasswordConfirm.touched">
              <label for="newPasswordConfirm" class="form-control-label">New password confirmation</label>
              <input type="password" id="newPasswordConfirm" placeholder="New Password Confirmation" [ngFormControl]="passwordForm.controls['newPasswordConfirm']" class="form-control" [class.form-control-success]="newPasswordConfirm.valid" [class.form-control-danger]="!newPasswordConfirm.valid">
              <div *ngIf="newPasswordConfirm.touched">
                <div *ngIf="newPasswordConfirm.hasError('required')" class="text-help">Confirmation required</div>
                <div *ngIf="newPasswordConfirm.hasError('notEquivalent')" class="text-help">Confirmation does not match</div>
                <div *ngIf="newPasswordConfirm.hasError('minlength')" class="text-help">Must be at least 8 characters</div>
              </div>
            </fieldset>
            <button type="submit" [disabled]="!passwordForm.valid" class="btn btn-primary">Update Password</button>
            <button type="reset" class="btn btn-secondary" (click)="removeEditStatus()">Cancel</button>
          </form>
        </div>
      </div>
    </tab>
  </tabset>
</div>
