<div class="comment card card-block">
  <span class="content">
    <div class="vote-block">
      <a *ngIf="!_authService.isSelf(comment.user.id)" (click)="handleUpvote(comment)" [class.active]="_authService.currentUser && comment.upvoted">
        <i class="fa fa-angle-up fa-fw fa-lg"></i>
      </a>
      <a *ngIf="!_authService.isSelf(comment.user.id) && (_authService.currentUser && _authService.currentUser.points > 49)" (click)="handleDownvote(comment)" [class.active]="_authService.currentUser && comment.downvoted">
        <i class="fa fa-angle-down fa-fw fa-lg"></i>
      </a>
      <i *ngIf="_authService.isSelf(comment.user.id)" class="fa fa-arrow-circle-right fa-fw"></i>
    </div>
    <div class="info-block">
      <p>{{comment.body}}</p>
      <small>
        <pluralize [count]="comment.points" [when]="{'-1': '-1 point', 'one': '1 point', 'other': '{} points'}"></pluralize>
        by
        <a [routerLink]="['/user', comment.user.id]">{{comment.user.username}}</a>
        {{comment.created_at | timeSince}}
      </small>
      <small>
        <a class="btn btn-link btn-sm" (click)="_commentService.toggleReplyOpen(comment.id)"><i class="fa fa-reply fa-fw"></i> Reply</a>
      </small>
      <span *ngIf="comment.comment_count">
        <small><a class="btn btn-link btn-sm" (click)="isCollapsed = !isCollapsed"><pluralize [count]="comment.comment_count" [when]="{'one': '1 reply', 'other': '{} replies'}"></pluralize> <i class="fa fa-fw" [class.fa-chevron-down]="isCollapsed" [class.fa-chevron-up]="!isCollapsed"></i></a></small>
      </span>
      <span dropdown keyboardNav="true" (on-toggle)="toggled($event)" class="pull-xs-right">
        <a href id="simple-btn-keyboard-nav" class="btn btn-secondary btn-sm" dropdownToggle>
          <i class="fa fa-chevron-down fa-fw"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="simple-btn-keyboard-nav">
          <li role="menuitem">
            <a class="dropdown-item" href="javascript:void(0)" (click)="openFlagModal(comment)"><i class="fa fa-flag fa-fw"></i> Flag</a>
          </li>
          <template [ngIf]="_authService.adminMode || _authService.isSelf(comment.user.id)">
            <div class="dropdown-divider"></div>
            <li>
              <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-pencil fa-fw"></i> Edit</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)" (click)="openDeleteModal(comment)"><i class="fa fa-trash fa-fw"></i> Delete</a>
            </li>
          </template>
        </ul>
      </span>
    </div>
  </span>
  <div class="well well-lg" [collapse]="replyOpen !== comment.id">
    <form class="text-xs-right" [formGroup]="replyForm" (ngSubmit)="addReply(reply.value)">
      <fieldset class="form-group" [class.has-danger]="!reply.valid && reply.touched">
        <textarea class="form-control" [formControl]="replyForm.find('reply')" minlength="5" maxlength="8000" required></textarea>
        <div *ngIf="reply.touched" class="text-help">
          <div *ngIf="reply.hasError('required')">Reply Required</div>
          <div *ngIf="reply.hasError('minlength')">
            <pluralize [count]="5 - reply.value.length" [when]="{'one': '1 More Character', 'other': '{} More Characters'}"></pluralize>
            Required
          </div>
        </div>
      </fieldset>
      <button class="btn btn-secondary" type="button" (click)="closeReplyForm()">Cancel</button>
      <button class="btn btn-primary" type="submit" [disabled]="!replyForm.valid">
        Reply
        <i *ngIf="replySending" class="fa fa-circle-o-notch fa-spin"></i>
      </button>
    </form>
  </div>
  <div *ngFor="let childComment of comment.comments | orderBy: ['-created_at']">
    <comment [collapse]="isCollapsed" [comment]="childComment" [replyOpen]="replyOpen" (deleteEvent)="removeComment($event)"></comment>
  </div>
</div>
