<div class="comment card card-block">
  <span class="content">
    <div class="vote-block">
      <a href="#"><i class="fa fa-angle-up fa-fw fa-lg"></i></a>
      <a href="#" *ngIf="_authService.currentUser && _authService.currentUser.points > 49"><i class="fa fa-angle-down fa-fw fa-lg"></i></a>
    </div>
    <div class="info-block">
      <p>{{comment.body}}</p>
      <small>
        <pluralize [count]="comment.points" [when]="{'-1': '-1 point', 'one': '1 point', 'other': '{} points'}"></pluralize>
        by
        <a [routerLink]="['UserDetail', {id: comment.user.id}]">{{comment.user.username}}</a>
        {{comment.created_at | timeSince}}
      </small>
      <small>
        <a class="btn btn-link btn-sm" (click)="_commentService.toggleReplyOpen(comment.id)"><i class="fa fa-reply fa-fw"></i> Reply</a>
      </small>
      <div *ngIf="comment.comment_count">
        <small><a class="btn btn-link btn-sm" (click)="isCollapsed = !isCollapsed"><pluralize [count]="comment.comment_count" [when]="{'one': '1 reply', 'other': '{} replies'}"></pluralize> <i class="fa fa-fw" [class.fa-chevron-down]="isCollapsed" [class.fa-chevron-up]="!isCollapsed"></i></a></small>
      </div>
      <span dropdown keyboardNav="true" (on-toggle)="toggled($event)" class="pull-xs-right">
        <a href id="simple-btn-keyboard-nav" class="btn btn-secondary-outline btn-sm" dropdownToggle>
          <i class="fa fa-chevron-down fa-fw"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="simple-btn-keyboard-nav">
          <li role="menuitem">
            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target=".modal" (click)="openFlagModal(comment.body, comment.user.username, comment.id)"><i class="fa fa-flag fa-fw"></i> Flag</a>
          </li>
          <template [ngIf]="_authService.adminMode || _authService.isSelf(comment.user.id)">
            <div class="dropdown-divider"></div>
            <li>
              <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-pencil fa-fw"></i> Edit</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)" (click)="openDeleteModal(comment.body, comment.user.username, comment.id)"><i class="fa fa-trash fa-fw"></i> Delete</a>
            </li>
          </template>
        </ul>
      </span>
    </div>
  </span>
  <div class="well well-lg" [collapse]="replyOpen !== comment.id">
    <form class="text-xs-right" [ngFormModel]="replyForm" (ngSubmit)="reply(replyForm.value)">
      <fieldset class="form-group">
        <textarea class="form-control" [ngFormControl]="replyForm.controls['reply']"></textarea>
      </fieldset>
      <button class="btn btn-secondary" (click)="_commentService.toggleReplyOpen(comment.id)">Cancel</button>
      <button class="btn btn-primary" type="submit" [disabled]="!replyForm.valid">Reply</button>
    </form>
  </div>
  <div *ngFor="#childComment of comment.comments | orderBy: ['-points']">
    <comment [collapse]="isCollapsed" [comment]="childComment" [replyOpen]="replyOpen" (deleteEvent)="indexComment(comment.id)"></comment>
  </div>
</div>
