.comment {
  &.collapse {

  }
  &.card-block {
    padding: 0.25rem 0.5rem;
  }
  &:hover, &:hover .comment {
    background-color: lighten(gray, 47.5%);
  }
  .comment:hover {
    background-color: white;
  }
  .in.collapse {
    padding: 0rem !important;
  }
  .content {
    display: flex;
    align-items: center;
    .vote-block {
      width: 27px;
      text-align: center;
      &.disabled a {
        color: gray;
      }
      a.active {
        color: #f0ad4e;
      }
    }
    .info-block {
      flex-grow: 1;
      p {
        font-size: 0.9rem;
        margin-bottom: 0rem;
      }
    }
  }
  .dropdown-toggle {
    margin-bottom: 8px;
    &:after {
      content: none;
      border: none;
    }
  }
}
